<h1>Check out Your notes</h1>

<p>
Title: <%= @note.title %>
</p>
<p>
Description: <%= @note.description %>
</p>

<%= button_to 'Edit', edit_note_path(@note) %>
<%= button_to 'Destroy', note_path(@note), data: {confirm: 'Are You Sure?'}, method: :delete %>
