<h3>Post a Comment</h3>

<%= form_for [ @note, @comment ] do |f| %>
  <p>
  
    <%= f.label :description %><br/>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>