<h1>View Your Comments</h1>

<table>
 
    <% @comment.each do |comment| %>
        <tr>
    
            <td><%= comment.name %></td>
            <td><%= comment.description %></td>
    
           
        </tr>
    <% end %>
    
</table> 

