<h1>Check out Your Comments</h1>

<p>
Title: <%= @comment.title %>
</p>
<p>
Description: <%= @comment.description %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %>
<%= link_to 'Delete', comment_path(@comment), data: {confirm: 'Are You Sure?'}, method: :delete %>
