<h1>Rescue Me</h1>

<html>
  <head>
    <title>Rescue Me!</title>
    <p><h3>How can we help?</h3></p>
    <%= link_to 'New Post', new_note_path %> | 
    <%= link_to 'Notes', notes_path %> | 
    
    
    
  </body>
</html>